<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sylph</title>
  <meta name="description" content="这是一个 Sylph 后台管理界面">
  <meta name="keywords" content="help">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <strong>Sylph</strong> <small>后台管理</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="/v1/user/login"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
         <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span></span>POD<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-nav">
            <li><a href="/v1/pod/getinfo" class="am-cf"><span></span>查看POD</a></li>
            <li><a href="/v1/pod/create"><span></span>创建POD</a></li>
          </ul>
        </li>
        <li class="deployment-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-deployment'}"><span></span>Deployment<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-deployment">
            <li><a href="/v1/deployment/getinfo" class="am-cf"><span></span>查看Deployment</a></li>
            <li><a href="/v1/deployment/create"><span></span>创建Deployment</a></li>
            <li><a href="/v1/deployment/update"><span></span>滚动更新</a></li>
          </ul>
        </li>
        <li class="service-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-Service'}"><span></span>Service<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-Service">
            <li><a href="/v1/service/getinfo" class="am-cf"><span></span>查看Service</a></li>
            <li><a href="/v1/service/create"><span></span>创建Service</a></li>
          </ul>
        </li>
        <li class="autocompose-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-autocompose'}"><span></span>Autocompose<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-autocompose">
            <li><a href="/v1/auto/up" class="am-cf"><span></span>UP&Down</a></li>
            <li><a href="/v1/auto/down"><span></span>Watch</a></li>
          </ul>
        </li>
        <li class="st-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-st'}"><span></span>有状态服务<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-st">
            <li><a href="/v1/st/getinfo" class="am-cf"><span></span>查看服务</a></li>
            <li><a href="/v1/st/create" class="am-cf"><span></span>创建服务</a></li>
          </ul>
        </li>
        <li class="sto-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-sto'}"><span></span>存储管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-sto">
            <li><a href="/v1/sto/getinfo" class="am-cf"><span></span>查看PV</a></li>
            <li><a href="/v1/sto/create" class="am-cf"><span></span>创建PV</a></li>
          </ul>
        </li>
        <li class="log-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-log'}"><span></span>日志<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub " id="collapse-log">
            <li><a href="/v1/getlog" class="am-cf"><span></span>系统日志</a></li>
          </ul>
        </li>
      </ul>
      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> wiki</p>
          <p>Welcome to the Slyph</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">Deployment创建</strong> / <small>Deployment create</small></div>
      </div>

      <hr/>

     <div class="am-g">
          <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
            <div class="am-panel am-panel-default">
              <div class="am-panel-bd">
                <div class="am-g">
                  <div class="am-u-md-4">
                    <p><strong>Deployment模板</strong></p>
                  </div>
                </div>
              </div>
            </div>
  
            <div >
              <div>
                    <pre>
{
  "containers": [
    {
      "containerPort": 3306,
      "env": [
        {
          "name": "MYSQL_ROOT_PASSWORD",
          "value": "123456"
        }
      ],
      "image": "mysql",
      "name": "mysql"
    }
  ],
  "desc": "mysql database",
  "name": "mysql-deploymen",
  "namespace": "default",
  "replicas": 1
}
                    </pre>
              </div>
            </div>
  
          </div>

        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
          <form class="am-form am-form-horizontal">
            <div class="am-form-group">
              <label for="Deployment Name" class="am-u-sm-3 am-form-label">Deployment Name</label>
              <div class="am-u-sm-9">
                <input type="text" id="deployment" placeholder="deployment">
              </div>
            </div>
            <div class="am-form-group">
              <label for="Deployment Namespace" class="am-u-sm-3 am-form-label">Deployment Namespace</label>
              <div class="am-u-sm-9">
                <input type="text" id="namespace" placeholder="default" value="default">
              </div>
            </div>

            <div class="am-form-group">
              <label for="Deployment replicas" class="am-u-sm-3 am-form-label">Replicas</label>
              <div class="am-u-sm-9">
                <input type="number" id="replicas" placeholder="1" value="1">
              </div>
            </div>

            <div class="am-form-group">
              <label for="Container Name" class="am-u-sm-3 am-form-label">Container Name</label>
              <div class="am-u-sm-9">
                <input type="text" id="containername" placeholder="Container Name">
              </div>
            </div>

            <div class="am-form-group">
              <label for="Container Image" class="am-u-sm-3 am-form-label">Container Image</label>
              <div class="am-u-sm-9">
                <input type="text"  id="containerimage" placeholder="Container Image">
              </div>
            </div>

            <div class="am-form-group">
              <label for="Envkey" class="am-u-sm-3 am-form-label">Env key</label>
              <div class="am-u-sm-9">
                <input type="text" id="envkey" placeholder="Enviroment key">
              </div>
            </div>

            <div class="am-form-group">
              <label for="Envvalue" class="am-u-sm-3 am-form-label">Env value</label>
              <div class="am-u-sm-9">
                <input type="text" id="envvalue" placeholder="Enviroment value">
              </div>
            </div>

            <div class="am-form-group">
              <label for="ContainerPort" class="am-u-sm-3 am-form-label">ContainerPort</label>
              <div class="am-u-sm-9">
                <input type="number" id="containerport" placeholder="ContainerPort">
              </div>
            </div>
            <div class="am-form-group">
              <label for="Container Image" class="am-u-sm-3 am-form-label">Description</label>
              <div class="am-u-sm-9">
                <input type="text"  id="description" placeholder="Description">
              </div>
            </div>
            <div class="am-form-group">
              <div class="am-u-sm-9 am-u-sm-push-3">
                <button type="button" onclick="CreateDeployment()" class="am-btn am-btn-primary">创建</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script>
function CreateDeployment()
{
  var xmlhttp;
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp = new XMLHttpRequest();
    }
    else {// code for IE6, IE5
      xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.open("POST", "/v1/deployment/create", true);
    xmlhttp.send(JSON.stringify({
      name: document.getElementById("deployment").value,
      namespace: document.getElementById("namespace").value,
      replicas: Number(document.getElementById("replicas").value),
      containers: [{  
        env: [{
            name: document.getElementById("envkey").value,
            value: document.getElementById("envvalue").value,
        }],
        containerPort: Number(document.getElementById("containerport").value),
        image: document.getElementById("containerimage").value,
        name: document.getElementById("containername").value,
      }]
    }));
    xmlhttp.onreadystatechange = function(){
    //若响应完成且请求成功
    if(xmlhttp.readyState === 4){
      alert(xmlhttp.responseText);
    }
    }
}
</script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
